# dependencies
/node_modules
/.pnp
.pnp.js

# production
/build
/.svelte-kit

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Mac
.DS_Store

# Windows
Thumbs.db

# other
coverage/

# Firebase on local
.firebase

# svelte-check
node_modules/.cache
