rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function appVerified() {
      return request.app != null;
    }

    match /products/{id} {
      allow read, write: if appVerified();
    }

    match /sales/{id} {
      allow read, create: if appVerified();
      allow update, delete: if false;
    }

    match /saleItems/{id} {
      allow read, create: if appVerified();
      allow update, delete: if false;
    }

    match /borrowers/{id} {
      allow read, write: if appVerified();
    }

    match /borrows/{id} {
      allow read, create, update: if appVerified();
      allow delete: if false;
    }

    match /borrowPayments/{id} {
      allow read, create: if appVerified();
      allow update, delete: if false;
    }
  }
}
